<style>
html *
{
   color: #000 !important;
   font-family: Arial !important;
}

table, th, td
{
    border: 1px solid black;
    border-collapse:collapse;
}
th, td {
    padding: 6px;
}
</style>

<h2>Search Result</h2>
User Id = {{userid}}<p/>


<table>
    <tr>
        <th>Item Id</th>
        <th>Name</th>
        <th>Image</th>
        <th>Score</th>
    </tr>
{% for item in items %}
    <tr>
        <td>{{ item.item }}</td>
        <td>{{ item.productName}}</td>
        <td><img src="{{ item.img }}" style="width: 30%; height: 30%"></td>
        <td>{{ item.score }}</td>
    </tr>
{% endfor %}
</table>