<style>
html *
{
   color: #000 !important;
   font-family: Arial !important;
}

table, th, td
{
    border: 1px solid black;
    border-collapse:collapse;
}
th, td {
    padding: 6px;
}
</style>

<h2>Input:</h2>
<form action="">
<table>
    <tr>
        <td>User:</td>
        <td><input name="u" type="text" value="{{userid}}"></td>
    </tr>
    <tr>
        <td>Product:</td>
        <td><input name="i" type="text" value="{{ itemid }}"></td>
        <td>{{ itemProduct.brand }}</td>
        <td>{{ itemProduct.name}}</td>
        <td>{{ itemProduct.cat }}</td>
        <td><img src="{{ itemProduct.img }}" style="height: 15%"></td>
    </tr>
    <tr>
        <td>Category Filter:</td>
        <td><input name="cat" type="text" value="{{cat}}"></td>
        <td>Factor:</td>
        <td><input name="catFactor" type="text" value="{{catFactor}}"></td>
    </tr>
    <tr>
        <td>Brand Boost:</td>
        <td><input name="brandBst" type="text" value="{{brandBst}}"></td>
        <td>Factor:</td>
        <td><input name="brandFactor" type="text" value="{{brandFactor}}"></td>
    </tr>
    <tr>
        <td>Price Level Boost:</td>
        <td><input name="priceBst" type="text" value="{{priceBst}}"></td>
        <td>Factor:</td>
        <td><input name="priceFactor" type="text" value="{{priceFactor}}"></td>
    </tr>
    <tr>
        <td colspan="6" align="center"><input type="submit" value="Submit"></td>
    </tr>
</table>
</form>
<br/>
<table>
    <tr>
        <td valign="top">
<h2>Result:</h2>
<table>
    <tr>
        <th>Item Id</th>
        <th>Brand</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price Lvl</th>
        <th>Image</th>
        <th>Score</th>
    </tr>
{% for item in items %}
    <tr>
        <td>{{ item.item }}</td>
        <td>{{ item.product.brand }}</td>
        <td>{{ item.product.name}}</td>
        <td>{{ item.product.cat }}</td>
        <td>{{ item.product.priceLevel }}</td>
        <td><img src="{{ item.product.img }}" style="height: 15%"></td>
        <td>{{ item.score }}</td>
    </tr>
{% endfor %}
</table>
<br/>
        </td>
        <td valign="top">
<h2>History:</h2>
<table>
    <tr>
        <th>Action</th>
        <th>Item Id</th>
        <th>Brand</th>
        <th>Name</th>
        <th>Category</th>
        <th>Image</th>
    </tr>
{% for item in history %}
    <tr>
        <td>{{ item.event }}</td>
        <td>{{ item.item }}</td>
        <td>{{ item.product.brand }}</td>
        <td>{{ item.product.name}}</td>
        <td>{{ item.product.cat }}</td>
        <td><img src="{{ item.product.img }}" style="height: 15%"></td>
    </tr>
{% endfor %}
</table></td>
    </tr>
    </table>